<div id="provider-id" class="hidden"><%= @provider.id %></div>

<h1>Прайс-листы поставщика <%= @provider.name %></h1>

<label for="datepicker">Поиск по дате:</label>
<div class="d-flex mb-3">
  <input type="text" id="datepicker" class="form-control w-50" data-provide='datepicker' data-date-format="dd.mm.yyyy">
  <button id="provider-search__search-button" class="btn btn-primary ml-2">Искать</button>
</div>

<table class="table">
  <thead>
    <td>Дата</td>
    <td>Адрес поставщика</td>
    <td>Номер поставщика</td>
    <td>Ингредиент</td>
    <td>Стоимость за единицу</td>
  </thead>
  <tbody>
    <%= render partial: 'price_lists', price_lists: @price_lists %>
  </tbody>
</table>
