<div id="provider-id" class="hidden"><%= @provider.id %></div>

<h1>Прайс-листы поставщика <%= @provider.name %></h1>

Поиск по дате:
<input type="text" id="datepicker" data-provide='datepicker' data-date-format="dd.mm.yyyy">
<button id="provider-search__search-button">Искать</button>

<table>
  <thead>
    <td>Дата</td>
    <td>Адрес поставщика</td>
    <td>Номер поставщика</td>
    <td>Ингредиент</td>
    <td>Стоимость за единицу</td>
  </thead>
  <tbody>
    <%= render partial: 'price_lists', price_lists: @price_lists %>
  </tbody>
</table>
