<h1>Прайс-листы поставщика <%= @provider.name %></h1>
Поиск по дате:
<input type="text" data-provide='datepicker' data-date-format="dd.mm.yyyy">

<%= button_to 'Искать', price_lists_path, method: :get %>
<table>
  <thead>
    <td>Дата</td>
    <td>Адрес поставщика</td>
    <td>Номер поставщика</td>
    <td>Ингредиент</td>
    <td>Стоимость за единицу</td>
  </thead>
  <%= render partial: 'price_lists', price_lists: @price_lists %>
</table>
