<% @dishes.each do |dish| %>
  <div><%= link_to dish.name, dish_path(dish) %></div>
<% end %>
<%= button_to 'Новое блюдо', new_dish_path, method: :get %>
<%= button_to 'Поставщики', providers_path, method: :get %>
